%h2 Original
%p.top-margin
  %input#square{:type => "radio", :name => "group",  :checked => "true"}
  %label square
  %input#landscape{:type => "radio", :name => "group"}
  %label landscape
  %button#crop{:disabled => "true", :image_id => @image_id} Crop

%img#original{:src => @image_uri}

%h2.top-margin Cropped:
#results
